

*{
    background-color: rgb(255, 255, 255);

}

#company {
    text-align: center;
    padding: 15px 
    border: 5px outset rgb(0, 195, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#slogan {
    text-align: center;
    font-style: italic;
}

#user {
    width: 50%;

}

#pass {
    width: 50%;

}

#loginbutton {
    width: 15%;
}

